  <script src="https://kit.fontawesome.com/*******.js" crossorigin="anonymous"></script>
  
  <div class="container">
  <h1>welcome to<i class="fas fa-book"></i>Bookers</strong>  !!</h1>
  </div>
    